.search-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-side {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-right: none;
  outline: none;
  border-radius: 25px 0 0 25px;
  font-size: 16px;
}

.search-button {
  background-color: #004080;
  color: white;
  border: none;
  border-radius: 0 25px 25px 0;
  padding: 15px 20px;
  height: 100%;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #002c59;
}
