
.category .card {
  width: 18rem; /* fixed width */
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
              0 4px 6px -4px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1); /* thin black border */
  border-radius: 0.5rem; /* optional: smooth corners */
  /* background-color: yellow; */
}


.category .card-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.category button {
  border-radius: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.category .card-text {
  color: rgb(90, 89, 89);
}



/* .category .card-img-top {
  height: 300px !important;
} */
